<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="bankingdbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANI;initial catalog=bankingdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BankingApplication.Properties.Settings.bankingdbConnectionString"
      connectionString="Data Source=ANI;Initial Catalog=bankingdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>